@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 62.5% !important;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input {
  border: none;
  background-color: transparent;
  
  &:focus {
    outline: none !important;
  }
}